:root {
  --white: white;
  --black: black;
}

.body {
  background-color: #000;
}

.section_hero {
  background-image: url('../images/stop.gif');
  background-position: 50%;
  background-size: 200px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.hero_blue {
  background-image: linear-gradient(45deg, #2c5de0, #0b01b0);
  border-radius: 35px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 950px;
  height: 500px;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  position: relative;
}

.line_blue {
  background-color: #1d68d6;
  width: 100%;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.arrow_hero {
  height: 110%;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: auto;
}

.hero_chara {
  z-index: 2;
  height: 70%;
  margin-right: 25px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: auto;
}

.image-2 {
  z-index: 1;
  flex: 0 auto;
  width: 60%;
  display: inline-flex;
  position: absolute;
  top: -12%;
  bottom: auto;
  left: auto;
  right: auto;
}

.button_buy {
  z-index: 5;
  background-color: #fd0000;
  border: 3px solid #000;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  margin: 25px;
  font-family: Maladroit, sans-serif;
  font-size: 20px;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
  transform: rotate(9deg);
}

.button_buy:hover {
  color: #fd0000;
  background-color: #fff;
}

.caroussel {
  background-color: #131418;
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
  justify-content: flex-start;
  align-items: center;
  width: 200vw;
  height: 80px;
  display: flex;
}

.section_about {
  background-color: #fd0000;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
}

.h1 {
  color: #fff;
  text-align: center;
  font-family: Maladroit, sans-serif;
  font-size: 70px;
  line-height: 70px;
}

.block_about_pics {
  background-color: #dc0000;
  border: 3px solid #a90000;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-top: 80px;
  padding: 50px 25px 0;
  display: flex;
}

.chara_about {
  height: 400px;
  position: relative;
  left: -40px;
}

.money_about {
  height: 400px;
  position: relative;
  right: -40px;
}

.block_para {
  text-align: center;
  width: 650px;
  margin-top: 50px;
}

.paragraph {
  color: #191919;
  margin-bottom: 0;
  font-family: Maladroit, sans-serif;
  font-size: 25px;
  line-height: 30px;
}

.section_transition_1 {
  background-color: #fd0000;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  position: relative;
}

.div-block {
  background-color: #bd0000;
  height: 35%;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-3 {
  z-index: 2;
  margin-top: 0;
  position: relative;
}

.div-block-2 {
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  display: flex;
}

.block_fk {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 328px;
  margin-top: 150px;
  margin-right: 50px;
  display: flex;
}

.para2 {
  color: #191919;
  margin-bottom: 0;
  font-family: Maladroit, sans-serif;
  font-size: 25px;
  line-height: 30px;
}

.button {
  z-index: 5;
  background-color: #fd0000;
  border: 3px solid #000;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 25px 0 0;
  font-family: Maladroit, sans-serif;
  font-size: 20px;
  display: flex;
  position: static;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.button:hover {
  color: #fd0000;
  background-color: #fff;
}

.separator_buy {
  background-color: #900;
  width: 100%;
  height: 50px;
}

.troller {
  height: 120%;
  margin-bottom: 25px;
  margin-left: 25px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.section_transition {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.background-video {
  z-index: 3;
  width: 100%;
  height: 100vh;
}

.section_tokenomics {
  background-color: #fd0000;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  position: relative;
}

.block_tokenomics {
  justify-content: center;
  align-items: center;
  width: 950px;
  margin-top: 70px;
  padding: 0;
  display: flex;
}

.block_img {
  width: 450px;
  height: 450px;
  margin-right: 12.5px;
}

.tokenomics_img {
  width: 100%;
  height: 100%;
}

.tokenomics_details {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 450px;
  margin-left: 12.5px;
  display: flex;
}

.details {
  background-color: #c20000;
  border: 3px solid #000;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  transform: rotate(-2deg);
}

.details._2 {
  transform: rotate(2deg);
}

.token_title {
  color: #fff;
  font-family: Maladroit, sans-serif;
  font-size: 15px;
}

.section_join {
  background-color: #fd0000;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 70px 0;
  display: flex;
  position: relative;
}

.button_socials {
  z-index: 5;
  background-color: #fd0000;
  border: 3px solid #000;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  margin: 25px 10px;
  font-family: Maladroit, sans-serif;
  font-size: 20px;
  display: flex;
  position: static;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.button_socials:hover {
  color: #fd0000;
  background-color: #fff;
}

.socials_footer {
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  display: flex;
}

.smash {
  z-index: 2;
  height: 500px;
  margin-top: 25px;
  position: relative;
}

.footer_floor {
  background-color: #da0000;
  height: 20%;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.tg {
  background-color: #fd0000;
  background-image: url('../images/telegram.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  border: 2px solid #ff7e7e;
  width: 40px;
  height: 40px;
  margin: 15px;
  padding: 0;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.tg:hover {
  border-color: #fff;
}

.x {
  background-color: #fd0000;
  background-image: url('../images/twitter.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 120%;
  border: 2px solid #ff7e7e;
  width: 40px;
  height: 40px;
  margin: 15px;
  padding: 0;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.x:hover {
  border-color: #fff;
}

.button-copy {
  z-index: 5;
  background-color: #fd0000;
  border: 3px solid #000;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  margin: 25px 0 0;
  font-family: Maladroit, sans-serif;
  font-size: 20px;
  display: flex;
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}

.button-copy:hover {
  color: #fd0000;
  background-color: #fff;
}

.rocket {
  z-index: 1;
  height: 35%;
  position: absolute;
}

.carousel_in {
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 0;
  display: flex;
}

.carousel_title {
  color: #fd0000;
  font-family: Maladroit, sans-serif;
  font-size: 25px;
  line-height: 25px;
}

.div-block-3 {
  width: 100%;
  height: 4px;
}

.section_transition_02 {
  background-color: #d10000;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-right: 0;
  display: flex;
}

.thug {
  width: 600px;
}

.stock {
  z-index: 50;
  background-color: #f7f7f7;
  border-radius: 18px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
  display: flex;
  position: absolute;
}

.text-block {
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.reddit_title {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  display: flex;
}

.div-block-5 {
  background-color: #56adff;
  border-radius: 100px;
  margin-left: 15px;
  padding: 7px;
}

.text-block-2 {
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
}

.background-video-2 {
  width: 100%;
  height: 100%;
}

.ca {
  z-index: 5;
  background-color: #fd0000;
  border: 3px solid #000;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  margin: 25px 0;
  font-family: Changa One, Impact, sans-serif;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  position: static;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.ca:hover {
  color: #fd0000;
  background-color: #fff;
}

.parag {
  display: none;
}

.para3 {
  color: #191919;
  margin-bottom: 0;
  font-family: Maladroit, sans-serif;
  font-size: 25px;
  line-height: 30px;
}

.image-4 {
  z-index: 25;
  height: 300px;
  margin-left: 25px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.section_welcome {
  z-index: 1000;
  background-color: #fd0000;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.block_welcome {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.t1 {
  text-align: center;
  font-family: Maladroit, sans-serif;
  font-size: 25px;
  line-height: 30px;
}

.continue {
  z-index: 5;
  background-color: #fd0000;
  border: 3px solid #000;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  margin: 25px;
  font-family: Maladroit, sans-serif;
  font-size: 20px;
  display: flex;
  position: static;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.continue:hover {
  color: #fd0000;
  background-color: #fff;
}

.section_disclaimer {
  background-color: #fd0000;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

.h7 {
  color: #fff;
  text-align: center;
  font-family: Maladroit, sans-serif;
  font-size: 45px;
  line-height: 45px;
}

@media screen and (max-width: 991px) {
  .hero_blue {
    width: 90%;
  }

  .hero_chara {
    height: 80%;
  }

  .image-2 {
    width: 70%;
  }

  .block_tokenomics {
    width: 100%;
  }

  .block_img, .tokenomics_details {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 767px) {
  .h1 {
    font-size: 60px;
    line-height: 60px;
  }

  .block_para {
    width: 80%;
  }

  .paragraph {
    font-size: 20px;
  }

  .block_fk {
    display: none;
  }

  .troller {
    z-index: 4;
    height: 80%;
  }

  .block_tokenomics {
    flex-flow: column;
    width: 100%;
    margin-top: 25px;
  }

  .section_join {
    padding-top: 0;
  }

  .socials_footer {
    flex-flow: column;
  }

  .carousel_title {
    font-size: 15px;
    line-height: 15px;
  }

  .stock {
    width: 80%;
  }

  .ca {
    font-size: 16px;
    line-height: 16px;
  }

  .parag {
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 50px;
    display: flex;
  }

  .para3 {
    text-align: center;
    font-size: 20px;
    line-height: 25px;
  }

  .image-4 {
    height: 250px;
  }

  .h7 {
    font-size: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 479px) {
  .hero_chara {
    width: 90%;
    height: auto;
    margin-right: 0;
  }

  .image-2 {
    width: 90%;
    top: -6%;
  }

  .caroussel {
    height: 50px;
  }

  .h1 {
    font-size: 50px;
    line-height: 50px;
  }

  .image-3 {
    width: 80%;
  }

  .block_img {
    width: 300px;
    height: 300px;
    margin-right: 0;
  }

  .tokenomics_details {
    width: 300px;
    height: 300px;
    margin-top: 25px;
    margin-left: 0;
  }

  .button_socials {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
  }

  .smash {
    width: 90%;
    height: auto;
  }

  .carousel_title {
    font-size: 12px;
    line-height: 12px;
  }

  .text-block, .ca {
    font-size: 13px;
    line-height: 13px;
  }

  .image-4 {
    height: 200px;
  }

  .h7 {
    font-size: 35px;
    line-height: 35px;
  }
}


@font-face {
  font-family: 'Maladroit';
  src: url('../fonts/maladroit.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Super Ocean Personal Use';
  src: url('../fonts/Super-Ocean-Personal-Use.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
